<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/general.css">
</head>
<body>
    <div class="blog-container">
        <div class="blog-grid">
            <h1>Search results for<% searchit%></h1>
            <% for(var i = 0; i <look.length; i++) { %>
        <div class="blog-entry">
            <div class="blog-image-container">
                <img src="<%= look[i]['blogimg'] %>" alt="" style="width: 100%;">
            </div>
            <div class="text con" style="margin-top: 10%; padding-left: 15%">
                <h3 class="blog-title"><%= look[i]['title'] %></h3>
                <h3 class="blog-description"><%= look[i]['blogDescription'] %></h3>
                <h3 class="blog-category"><%= look[i]['blogCategory'] %></h3>
                <h3 class="blog-category"><%= look[i]['author'] %></h3>
                <h3 class="blog-category"><%= look[i]['number'] %></h3>
            </div>
        </div>
        <% } %>
        </div>
        </div>   
</body>
</html>